{
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended", // Recommended for react,also can set eslint:all to includes every available rule.
    "plugin:react/recommended", // Recommended for react,also can set plugin:react/all to includes every available rule.
    "plugin:@typescript-eslint/recommended", // Recommended for TypeScript
    "prettier" // 禁用 ESLint 中与 Prettier 冲突的规则
  ],
  "plugins": [
    "react", // React 的校验插件
    "@typescript-eslint", // TypeScript 的校验插件
    "prettier" // eslint-plugin-prettier
  ],
  "rules": {
    "prettier/prettier": "error", // 开启规则
    "no-unused-vars": "error",
    "curly": "warn"
  }
}
